---
title: "Таблица тренировок Пола Уэйда"
date: 2019-05-28
slug: "convict-conditioning-table"
description: "Все упражнения из книги Тренировочная зона Пола Уйэда: тренировки заключёных и калистеника"
lastmod: 2023-05-09
content.enabled: false
---
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
<style>



.exercise {
    display: none;
}


.description {
    text-align: left;
    background: #607D8B;
    padding: 0.5em 1em;
    color: white;
}

.exercise td:first-child, .exercise-opener {
    cursor: pointer;
}

.exercise td:nth-child(2) {
    padding: 0;
}

.imgcrop {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.imgcrop img {

}

.one-ex-wrapper {
    justify-content: center;
}

.center {
    width: 900px;
    margin: 0 auto;
}

.single-table {
    display: flex;
    justify-content: center;
}

</style>
 <!-- start Simple Custom CSS and JS -->
<script type="text/javascript">

$(document).ready(function(){
	$('.exercise-opener').click(function(){
		$(this).next('.exercise').toggle();
	});

	$('.exercise td:first-child').click(function(){
		 $(this).parent().hide();
	});

	$('.imgcrop img').dblclick(function() {
		window.open($(this).attr('src'), '_blank');
	});


	$("tr.exercise-opener:odd").css({ "background":"rgba(0, 0, 0, 0.05)"});
});
</script>
<!-- end Simple Custom CSS and JS -->



<div class="main-page-wrapper w-100 p-2">
	<p>Понравился проект — поддержи <a target="_blank" href="https://pay.cloudtips.ru/p/84e91c65">по ссылке</a>.</p>
	
	<!-- Yandex.RTB R-A-2447835-1 -->
	<div id="yandex_rtb_R-A-2447835-1"></div>
	<script>window.yaContextCb.push(()=>{
		Ya.Context.AdvManager.render({
			"blockId": "R-A-2447835-1",
			"renderTo": "yandex_rtb_R-A-2447835-1"
		})
	})
	</script>
	
	<a style="display: block; width: 100%; height: 100%;" href="https://t.me/+HK8GlBnzxos5ZTMy" target="_blank">
	  <picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="welcome-telegram-chat.svg" media="(min-width: 1024px)">
		<source srcset="welcome-telegram-chat2.svg" media="(max-width: 1023px)">
		<!--[if IE 9]></video><![endif]-->
		<img style="width: 100%;" src="welcome-telegram-chat2.svg" alt="Welcome Telegram Chat">
	  </picture>
	</a>

	
	<div class="table-wrapper mt-5">
		<!--Отжимания-->
		<table class="table-dark table-striped table-hover" id="pushups" cellpadding="0" cellspacing="0">
			<caption class="caption-top">Отжимания</caption>
			<thead>
				<tr>
					<th colspan="7" rowspan="1"  scope="col">&nbsp;</th>
					<th scope="col">→</th>
					<th scope="col">&#8649;</th>
					<th scope="col">&#8667;</th>
				</tr>
			</thead>
			<tr class="exercise-opener">
				<td colspan="7" rowspan="1">отжимания от стены </td>
				<td>1x10</td>
				<td>2x25</td>
				<td>3x50</td>
			</tr>
			<tr class="exercise">
				
				<td colspan="10">
					<div class="imgcrop">
						<img src="sport/01-pushup/1_pushup.jpg">
					</div>
					<div class="description">Ноги сомкнуты, руки на ширине плеч и на уровне груди, выпрямлены. Сгибаем локти, пока не коснемся лбом стены.</div>
				</td>
			</tr>
			<tr class="exercise-opener">
				<td colspan="7" rowspan="1">наклонные отжимания </td>
				<td>1x10</td>
				<td>2x20</td>
				<td>3x40</td>
			</tr>
			<tr class="exercise">
				
				<td colspan="10">
					<div class="imgcrop">
						<img src="sport/01-pushup/2_pushup.jpg">
					</div>
					<div class="description">Опора на уровне пояса: подоконник, высокая кровать, тумба и т. д. Сгибаем локти, пока торс не коснется поверхности. </div>
				</td>
			</tr>
			<tr class="exercise-opener">
				<td colspan="7" rowspan="1">отжимания на коленях </td>
				<td>1x10</td>
				<td>2x15</td>
				<td>3x30</td>
			</tr>
			<tr class="exercise">
				
				<td colspan="10">
					<div class="imgcrop">
						<img src="sport/01-pushup/3_pushup.jpg">
					</div>
					<div class="description">Встать на колени, руками упереться перед собой, ноги скрестить позади себя. Сгибаем локти, пока лицо не окажется на уровне основания кисти руки. </div>
				</td>
			</tr>
			<tr class="exercise-opener">
				<td colspan="7" rowspan="1">половинные отжимания </td>
				<td>1x8</td>
				<td>2x12</td>
				<td>2x25</td>
			</tr>
			<tr class="exercise">
				
				<td colspan="10">
					<div class="imgcrop">
						<img src="sport/01-pushup/4_pushup.jpg">
					</div>
					<div class="description">Под поясом предмет высотой с баскетбольный мяч — 23-24 см. Сгибаем локти до касания. На начальном и продвинутом этапе мяч можно подвинуть к груди. Лучше купить мяч на этом этапе, т. к. он все равно пригодится как таковой. </div>
				</td>
			</tr>
			<tr class="exercise-opener">
				<td colspan="7" rowspan="1">полные отжимания </td>
				<td>1x5</td>
				<td>2x10</td>
				<td>2x20</td>
			</tr>
			<tr class="exercise">
				
				<td colspan="10">
					<div class="imgcrop">
						<img src="sport/01-pushup/5_pushup.jpg">
					</div>
					<div class="description">Классические отжимания </div>
				</td>
			</tr>
			<tr class="exercise-opener">
				<td colspan="7" rowspan="1">плотные отжимания </td>
				<td>1x5</td>
				<td>2x10</td>
				<td>2x20</td>
			</tr>
			<tr class="exercise">
				
				<td colspan="10">
					<div class="imgcrop">
						<img src="sport/01-pushup/6_pushup.jpg">
					</div>
					<div class="description">Ладони сведены и пальцы рук слегка касаются друг друга. Сгибаем локти, пока грудь не коснется кистей рук. </div>
				</td>
			</tr>
			<tr class="exercise-opener">
				<td colspan="7" rowspan="1">неравномерные отжимания </td>
				<td>1x5</td>
				<td>2x10</td>
				<td>2x20</td>
			</tr>
			<tr class="exercise">
				
				<td colspan="10">
					<div class="imgcrop">
						<img src="sport/01-pushup/7_pushup.jpg">
					</div>
					<div class="description">Под одной из рук предмет высотой 23-24см, в идеале — неустойчивый, типа баскетбольного мяча. Руки — прямо под плечами для равновесия. Сгибаем локти, пока грудь не коснется той руки, которая лежит на мяче. </div>
				</td>
			</tr>
			<tr class="exercise-opener">
				<td colspan="7" rowspan="1">половинные отжимания на одной руке </td>
				<td>1x5</td>
				<td>2x10</td>
				<td>2x20</td>
			</tr>
			<tr class="exercise">
				
				<td colspan="10">
					<div class="imgcrop">
						<img src="sport/01-pushup/8_pushup.jpg">
					</div>
					<div class="description">Под пахом предмет высотой с баскетбольный мяч — 23-24 см. Свободную руку завести за спину. Сгибать руку до касания мяча. </div>
				</td>
			</tr>
			<tr class="exercise-opener">
				<td colspan="7" rowspan="1">рычажные отжимания </td>
				<td>1x5</td>
				<td>2x10</td>
				<td>2x20</td>
			</tr>
			<tr class="exercise">
				
				<td colspan="10">
					<div class="imgcrop">
						<img src="sport/01-pushup/9_pushup.jpg">
					</div>
					<div class="description">Одна рука отведена в сторону, под ней баскетбольный мяч, вторая — под плечом. Сгибать руку в локте, пока лицо не окажется на уровне основания кисти. </div>
				</td>
			</tr>
			<tr class="exercise-opener">
				<td colspan="7" rowspan="1">отжимания на одной руке </td>
				<td>1x5</td>
				<td>2x10</td>
				<td>∞</td>
			</tr>
			<tr class="exercise">
				
				<td colspan="10">
					<div class="imgcrop">
						<img src="sport/01-pushup/10_pushup.jpg">
					</div>
					<div class="description">Переместить центр тяжести на одну из рук, свободную руку завести за поясницу. Сгибать руку в локте, пока лицо не окажется на уровне основания кисти. </div>
				</td>
			</tr>
			</tbody>
		</table>
		<!--Отжимания end-->
		
		<!-- Yandex.RTB R-A-2447835-2 -->
		<div id="yandex_rtb_R-A-2447835-2"></div>
		<script>window.yaContextCb.push(()=>{
			Ya.Context.AdvManager.render({
				"blockId": "R-A-2447835-2",
				"renderTo": "yandex_rtb_R-A-2447835-2"
			})
		})
		</script>		
		
		<!--Приседания-->
		<table class="table-dark table-striped table-hover" id="squats" cellpadding="0" cellspacing="0">
			<caption class="caption-top">Приседания</caption>
			<thead>
				<tr>
					<th colspan="7" rowspan="1">&nbsp;</th>
					<th>→</th>
					<th>⇉</th>
					<th>⇛</th>
				</tr>
			</thead>
			<tbody>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">плечи на полу</td>
					<td>1x10</td>
					<td>2x25</td>
					<td>3x50</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/02-squats/1.jpg">
						</div>
						<div class="description">Классическая «березка»: локти упираются в пол, ладони — в поясницу, ноги вытянуты вверх. Сгибаем бедра и колени, пока колени не коснутся лба.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">«складной ножичек»</td>
					<td>1x10</td>
					<td>2x20</td>
					<td>3x40</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/02-squats/2.jpg">
						</div>
						<div class="description">Согнувшись, касаемся руками поверхности журнального столика, стула или невысокой кровати. Ноги на ширине плеч. Сохраняя туловище максимально параллельным полу, согнитесь в коленях и бедрах. Пятки не поднимать.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">поддержаный присед</td>
					<td>1x10</td>
					<td>2x15</td>
					<td>3x30</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/02-squats/3.jpg">
						</div>
						<div class="description">Повторяем аналогичное движение предыдущему упражнению, но на этот раз используя любой предмет выше уровня бедер (стул с высокой спинкой или стол).</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">полуприсяд</td>
					<td>1x8</td>
					<td>2x35</td>
					<td>2x50</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/02-squats/4.jpg">
						</div>
						<div class="description">Руки на поясе, на груди или на шее. Ноги на ширине плеч. Сгибаемся в бедрах и коленях, пока колени не образуют угол в 90°, иначе говоря — пока бедра не станут параллельны полу.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">полный присед</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x30</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/02-squats/5.jpg">
						</div>
						<div class="description">Повторяем аналогичное движение предыдущему упражнению, но на этот раз до тех пор, пока задняя поверхность бедер не будут лежать на голенях.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">узкие приседания</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x20</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/02-squats/6.jpg">
						</div>
						<div class="description">Пятки соприкасаются друг с другом. Руки перед собой. Опускаемся до тех пор, пока грудная клетка не соприкоснется с коленями. <br>
							<br>
							<strong>Обрати внимание: при достижении VI ур. приседаний и подъема ног (пресс) можно начать выполнять мосты I уровня.</strong>
						</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">разновысокие приседания</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x20</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/02-squats/7.jpg">
						</div>
						<div class="description">Одна нога на поверхности пола, другая — пяткой упирается в баскетбольный мяч. Сгибая ногу (ту, что упирается в пол), перемещаем мяч, пока он не коснется икры другой ноги.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">неполные приседания на одной ноге</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x20</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/02-squats/8.jpg">
						</div>
						<div class="description">Одна нога вытянута вперед, вторую сгибаем до тех пор, пока голень и бедро не образуют угол в 90°.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">приседания на одной ноге с поддержкой</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x20</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/02-squats/9.jpg">
						</div>
						<div class="description">Выполняем полный присед на одной ноге, но при этом облегчаем свою задачу, опираясь в нижней точке на баскетбольный мяч.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">приседания на одной ноге</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x50</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/02-squats/10.jpg">
						</div>
						<div class="description">Медленно выполняем присед на одной ноге. Руки перед собой. В конечной точке торс упирается в колено сгибаемой ноги.</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!--Приседания end-->
		<!--Пресс / подъем ног -->
		<table class="table-dark table-striped table-hover" id="raises " cellpadding="0" cellspacing="0">
			<caption class="caption-top">Пресс / подъем ног</caption>
			<thead>
				<tr>
					<th colspan="7" rowspan="1">&nbsp;</th>
					<th>→</th>
					<th>⇉</th>
					<th>⇛</th>
				</tr>
			</thead>
			<tbody>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">подтягивание колен к животу</td>
					<td>1x10</td>
					<td>2x25</td>
					<td>3x40</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/03-raises/1.jpg">
						</div>
						<div class="description">Сидя на стуле или кровати, держимся за край, ноги вытягиваем вперед, подняв на несколько сантиметров от пола. Плавно поднимаем колени к груди, пока они не окажутся на расстоянии 15-25см. от нее. В этот момент нужно выдохнуть. На возвращении в начальное положение — вдох. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">подъемы коленей лежа </td>
					<td>1x10</td>
					<td>2x20</td>
					<td>3x35</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/03-raises/2.jpg">
						</div>
						<div class="description">Лежа на полу, держим ноги вместе и под углом примерно 90°, от пола 2-5 см. Поднимаем колени над бедрами, до тех пор, пока не станут перпендикулярны полу, а икры — параллельны. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">подъемы согнутых коленей лежа </td>
					<td>1x10</td>
					<td>2x15</td>
					<td>3x30</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/03-raises/3.jpg">
						</div>
						<div class="description">Положение такое же, как в прошлом упражнении, но в этот раз, ноги согнуты под углом 45°. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">лягушачьи подъемы лежа</td>
					<td>1x8</td>
					<td>2x15</td>
					<td>3x25</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/03-raises/4.jpg">
						</div>
						<div class="description">Сделайте положительную часть Уровня 3, поднимите согнутую ногу, но вместо паузы в верхней части выпрямляем ноги в полной мере. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">ровные прямые подъемы ног</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x20</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/03-raises/5.jpg">
						</div>
						<div class="description">Подъем ровных ног из положения, указанного на нижней картинке. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">подъем коленей из виса на перекладине</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x15</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/03-raises/6.jpg">
						</div>
						<div class="description">Упражнение на турнике: руки на ширине плеч, сгибаем ноги в коленях и поднимаем их до уровня таза. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">подъем согнутой ноги</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x15</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/03-raises/7.jpg">
						</div>
						<div class="description">Название упражнение не совсем корректно. Подъем осуществляется обеими ногами в полусогнутом виде. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">висячие подъемы лягушкой</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x15</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/03-raises/8.jpg">
						</div>
						<div class="description"></div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">подъемы частично прямой ноги</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x15</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/03-raises/9.jpg">
						</div>
						<div class="description"></div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">подъем прямых ног в висе</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x30</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/03-raises/10.jpg">
						</div>
						<div class="description"></div>
					</td>
				</tr>
			</tbody>
		</table>
		<!--Пресс / подъем ног end-->
		<!--Мосты -->
		<table class="table-dark table-striped table-hover" id="bridges " cellpadding="0" cellspacing="0">
			<caption class="caption-top">Мосты</caption>
			<thead>
				<tr>
					<th colspan="7" rowspan="1">&nbsp;</th>
					<th>→</th>
					<th>⇉</th>
					<th>⇛</th>
				</tr>
			</thead>
			<tbody>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">короткие мосты</td>
					<td>1x10</td>
					<td>2x25</td>
					<td>3x50</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/04-bridges/1.jpg">
						</div>
						<div class="description">Лежа на спине, согнуть ноги в коленях (пятки в 15-20см от ягодиц) и скрестить руки на животе. Выполняем подъем бедер и спины до тех пор, пока весь вес не переместится на плечи и стопы. Вдыхать на пути вниз. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">ровные мосты</td>
					<td>1x10</td>
					<td>2x20</td>
					<td>3x40</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/04-bridges/2.jpg">
						</div>
						<div class="description">Сидя на полу держим верхнюю часть тела вертикально прямо, ладонями упираемся по разные стороны от бедер. Поднимаем таз до тех пор, пока торс и ноги не образуют прямую линию. Выдох на подъеме вверх, вдох — вниз. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">мосты под углом</td>
					<td>1x8</td>
					<td>2x15</td>
					<td>3x30</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/04-bridges/3.jpg">
						</div>
						<div class="description">Необходим невысокий устойчивый предмет (высотой на уровне коленей). Упираясь в него руками, выполнить подобие мостика, поднявшись на руках на несколько сантиметров. Дыхание обычное. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">мосты на голове </td>
					<td>1x8</td>
					<td>2x15</td>
					<td>2x25</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/04-bridges/4.jpg">
						</div>
						<div class="description">Аналогичное упражнение, но в этот раз невысокая опора не требуется, вместо нее — пол. В нижнем положении слегка касаемся головой поверхности пола. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">половинные мосты </td>
					<td>1x8</td>
					<td>2x15</td>
					<td>2x20</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/04-bridges/5.jpg">
						</div>
						<div class="description">Необходим предмет высотой с футбольный или баскетбольный мяч. Ставим его под поясницу и делаем мосты поднимаясь и опускаясь до легкого касания мяча спиной. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">полные мосты </td>
					<td>1x6</td>
					<td>2x10</td>
					<td>2x15</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/04-bridges/6.jpg">
						</div>
						<div class="description">Делаем полные мосты, техника на иллюстрации. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">шагающие по стене мосты (вниз) </td>
					<td>1x3</td>
					<td>2x6</td>
					<td>2x10</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/04-bridges/7.jpg">
						</div>
						<div class="description">Встаем спиной к стене на расстояние вытянутой руки. Прогибаемся назад, задирая голову, затем вытягиваем руки к стене и ставим их пальцами вниз на уровне головы. Безопасно упираясь, поочердно передвигаем руки к основанию стены. По мере этих шагов может понадобится отодвинуться от стены. Конечная точка — руки на полу. После этого опускаемся на пол и снова встаем на ноги. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">шагающие по стене мосты (вверх) </td>
					<td>1x2</td>
					<td>2x4</td>
					<td>2x8</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/04-bridges/8.jpg">
						</div>
						<div class="description">Упражнение выполняется прямо противоположно предыдущему. В самой верхней точке нужен толчок для полного выпрямления. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">закрытые мосты </td>
					<td>1x1</td>
					<td>2x3</td>
					<td>2x6</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/04-bridges/9.jpg">
						</div>
						<div class="description">Руки на бедрах, таз тянется вперед. Одновременно сгибаем колени, прогибаем спину и запрокидываем голову. На уровне ниже 1 метра до головы необходимо снять руки с пояса и отправить из за голову до касания с полом. Движение единое и плавное. В нижней точке нужно опуститься на пол и снова занять исходную позицию. </div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">двухопорные мосты </td>
					<td>1x1</td>
					<td>2x3</td>
					<td>2x10-30 </td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/04-bridges/9.jpg">
						</div>
						<div class="description">Руки на бедрах, таз тянется вперед. Одновременно сгибаем колени, прогибаем спину и запрокидываем голову. На уровне ниже 1 метра до головы необходимо снять руки с пояса и отправить из за голову до касания с полом. Движение единое и плавное. В нижней точке нужно опуститься на пол и снова занять исходную позицию. </div>
					</td>
				</tr>
			</tbody>
		</table>
		<!--Мосты end-->
		<!--Подтягивания-->
		<table class="table-dark table-striped table-hover" id="pulls" cellpadding="0" cellspacing="0">
			<caption class="caption-top">Подтягивания</caption>
			<thead>
				<tr>
					<th colspan="7" rowspan="1">&nbsp;</th>
					<th>→</th>
					<th>⇉</th>
					<th>⇛</th>
				</tr>
			</thead>
			<tbody>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">вертикальные подтягивания</td>
					<td>1x10</td>
					<td>2x20</td>
					<td>3x40</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/05-pulls/1.jpg">
						</div>
						<div class="description">Встаньте на расстояние 10-15 см от надежно закрепленного вертикального предмета (дверной косяк, балка или пр.) и ухватитесь за него руками на уровне груди. В идеале — если руки будут на ширине плеч. Отклоняясь назад, выпрямляем согнутые в локтях руки. Задерживаемся на секунду и возвращаемся в исходное положение.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">горизонтальные подтягивания</td>
					<td>1x10</td>
					<td>2x20</td>
					<td>3x30</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/05-pulls/2.jpg">
						</div>
						<div class="description">Необходим предмет, имеющий проем снизу и достаточно устойчивый, чтобы выдержать ваш вес. Навряд ли это ваш стол=). Из горизонтального положения ухватитесь за предмет прямым хватом (руки на ширине плеч) и повисните на прямых руках. Тело держим прямым. Сгибая локти, подтягиваемся вверх до касания поверхности на уровне кистей.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">подтягивания «Складной нож»</td>
					<td>1x10</td>
					<td>2x15</td>
					<td>3x20</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/05-pulls/3.jpg">
						</div>
						<div class="description">Необходим высокий стул, установленный под турником. Уложите лодыжки на стул (не бедра!). Выпрямите ноги. Высота стула должна быть такой, что в этом положении ваши ноги и корпус образуют угол в 90°. Из такого положения поднимаем себя вверх с помощью рук, отталкиваясь от стула ногами до тех пор, пока подбородок не окажется выше перекладины. После секундной задержки возвращаемся в исходное положение.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">неполные подтягивания</td>
					<td>1x8</td>
					<td>2x11</td>
					<td>2x15</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/05-pulls/4.jpg">
						</div>
						<div class="description">Упражнение на турнике без дополнительных предметов или снарядов. Ухватитесь за перекладину прямым хватом, руки на ширине плеч, локти под прямым углом (это ключевое отличие от полных отжиманий), плечи параллельны полу. Согните колени и заведите лодыжки одну за другую. Подтянитесь до тех пор, пока подбородок не окажется над перекладиной. Пауза в 1 секунду и медленный спуск в исходное положение.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">полные подтягивания</td>
					<td>1x5</td>
					<td>2x8</td>
					<td>3x10</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/05-pulls/5.jpg">
						</div>
						<div class="description">Повисните на турнике, ухватившись за него на ширине плеч или чуть шире. Как и в прошлом упражнении скрестите ноги. Подтянитесь до тех пор, пока подбородок не окажется над перекладиной. Пауза в 1 секунду и медленный спуск в исходное положение.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">узкие подтягивания</td>
					<td>1x5</td>
					<td>2x8</td>
					<td>3x10</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/05-pulls/6.jpg">
						</div>
						<div class="description">Выполняем подтягивания прямым хватом, близко расположив друг к другу кисти рук. Техника на иллюстрации.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">разновысокие подтягивания</td>
					<td>1x5</td>
					<td>2x7</td>
					<td>2x9</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/05-pulls/7.jpg">
						</div>
						<div class="description">Возьмитесь за перекладину одной рукой обратным хватом, а другой схватитесь за запястье рабочей руки так, что большой палец нерабочей руки будет находиться под ладонью, а пальцы — под тыльной стороной кисти. Сгибая рабочую руку в локте, подтягивайтесь вверх, пока подбородок не окажется над перекладиной.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">неполные подтягивания на одной руке</td>
					<td>1x4</td>
					<td>2x6</td>
					<td>2x8</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/05-pulls/8.jpg">
						</div>
						<div class="description">Возьмитесь за перекладину одной рукой тем хватом, который вам по нраву. Свободная рука должна находиться в любом комфортном положении. Согните локоть рабочей руки под прямым углом (в этом главное отличие от полных подтягиваний на одной руке) — это исходное положение. Подтянитесь вверх, сгибая локоть до тех пор, пока подбородок не окажется над перекладиной.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">подтягивания на одной руке с поддержкой</td>
					<td>1x3</td>
					<td>2x5</td>
					<td>2x7</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/05-pulls/9.jpg">
						</div>
						<div class="description">Перебросьте полотенце через перекладину, ухватитесь за перекладину одной рукой любым хватом, а другой рукой — за полотенце на уровне глаз. Помогая себе полотенцем подтягиваемся до того момента, как локоть рабочей руки не согнется под прямым углом. Не прерывая подъем, отпускаем полотенце. После спуска вновь схватитесь за полотенце.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">подтягивания на одной руке</td>
					<td>1x1</td>
					<td>2x3</td>
					<td>2x6</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/05-pulls/10.jpg">
						</div>
						<div class="description">Выполняем упражнение согласно изображению.</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- подтягивания end -->
		<!--Отжимания в стойке на руках-->
		<table class="table-dark table-striped table-hover" id="stands" cellpadding="0" cellspacing="0">
			<caption class="caption-top">Отжимания в стойке на руках</caption>
			<thead>
				<tr>
					<th colspan="7" rowspan="1">&nbsp;</th>
					<th>→</th>
					<th>⇉</th>
					<th>⇛</th>
				</tr>
			</thead>
			<tbody>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">стойка на голове у стены</td>
					<td>30 сек.</td>
					<td>1 мин.</td>
					<td>2 мин.</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/06-stands/1.jpg">
						</div>
						<div class="description">У основания надежной стены кладем коврик или подушку. Встаньте на колени и поставьте голову на коврик (голова на расстоянии 15-25 см. от стены). Руки на ширине плеч, ладони у головы. Ставим колено сильной опорной ноги ближе к локтю, другая нога — выпрямлена. Оттолкнитесь опорной ногой вверх, при этом, поднимая другую ногу вверх. Выпрямите ноги по стене. Держите рот закрытым, дышите через нос. Выдержав необходимое время, согните ноги в коленях и медленно опуститесь в начальное положение.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">стойка «Ворон»</td>
					<td>10 сек.</td>
					<td>30 сек.</td>
					<td>1 мин.</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/06-stands/2.jpg">
						</div>
						<div class="description">Сядьте на корточки, колени врозь. Положите ладони на пол перед собой, примерно на расстоянии ширины плеч. Немного согни руки в локтях. Наклонись немного вперед, постепенно перенося вес тела с ног на руки. Когда поймаете баланс, оторвите ноги от пола. Держите мышцы ног в напряжении. После выполнения аккуратно поставьте ноги на пол.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">стойка на руках у стены</td>
					<td>30 сек.</td>
					<td>1 мин.</td>
					<td>2 мин.</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/06-stands/3.jpg">
						</div>
						<div class="description">Поставьте руки на расстоянии 15-25 см. от стены, согните колени, подтяните колено сильной ноги к локтю. Оттолкнитесь другой ногой от пола и вытяните обе ноги над собой, касаясь пятками стены.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">неполные отжимания в стойке на руках у стены</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x20</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/06-stands/4.jpg">
						</div>
						<div class="description">Примите стойку на руках так, как это было описано в упражнении III уровня. Начните медленно сгибать локти. Остановитесь, как только от макушки до пола останется около 15 см. Остановитесь на секунде, а затем отожмитесь вверх.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">отжимания в стойке на руках у стены</td>
					<td>1x5</td>
					<td>2x10</td>
					<td>2x20</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/06-stands/5.jpg">
						</div>
						<div class="description">Примите стойку на руках так, как это было описано в упражнении III уровня. Начните медленно сгибать локти. Остановитесь, как только от макушки до пола останется около 15 см. Остановитесь на секунде, а затем отожмитесь вверх.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">узкие отжимания в стойке на руках у стены</td>
					<td>1x5</td>
					<td>2x9</td>
					<td>2x12</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/06-stands/6.jpg">
						</div>
						<div class="description">Примите стойку на руках, но при этом сведите их до соприкосновения указательных пальцев. Сгибайте локти до касания головой пола. Затем поднимитесь вверх.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">разновысокие отжимания в стойке на руках у стены</td>
					<td>1x5</td>
					<td>2x8</td>
					<td>2x10</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/06-stands/7.jpg">
						</div>
						<div class="description">Положите у стены баскетбольный мяч. Примите стойку на руках, после чего положите одну из рук сверху на мяч. Распределите вес на обе руки и выполняйте сгибание локтей до тех пор, пока голова не коснется пола. Затем примите исходное положение.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">неполные отжимания на одной руке</td>
					<td>1x4</td>
					<td>2x6</td>
					<td>2x8</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/06-stands/8.jpg">
						</div>
						<div class="description">Примите стойку на руках. Медленно переносите вес тела на одну руку, затем осторожно оторвите свободную руку от пола. Затем согните локоть рабочей руки и опуститесь до половины расстояния головы от пола. Затем отожмитесь вверх.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">отжимания на одной руке с поддержкой</td>
					<td>1x3</td>
					<td>2x4</td>
					<td>2x6</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/06-stands/9.jpg">
						</div>
						<div class="description">Встаньте в стойку на руках. Медленно перенесите вес на одну из рук. Свободную руку выведите вперед ладонью вверх и слегка коснитесь пола. Поддерживая баланс свободной рукой, медленно сгибайте локоть рабочей руки до касания головой пола. Затем вернитесь в исходное положение.</div>
					</td>
				</tr>
				<tr class="exercise-opener">
					<td colspan="7" rowspan="1">отжимания в стойке на одной руке</td>
					<td>1x1</td>
					<td>2x2</td>
					<td>2x5</td>
				</tr>
				<tr class="exercise">
					
					<td colspan="10">
						<div class="imgcrop">
							<img src="sport/06-stands/10.jpg">
						</div>
						<div class="description">Упражнение аналогично движению на XVIII уровне, однако в этот раз придется полностью отжаться до касания головой пола. Можно совершать рывки и помогать себе ногами.</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!--Отжимания в стойке на руках end -->
	<section id="tables-description">
		<p>Таблица с&nbsp;выжимкой программ из&nbsp;первой книги &laquo;Тренировка заключенных&raquo; с&nbsp;фотографиями и&nbsp;кратким описанием. Рекомендуется для читателей &laquo;Convict Conditioning&raquo; в&nbsp;качестве дополнительного материала. Важно: тексты описания предназначены только для ознакомительных целей, оригинальные&nbsp;&mdash; только изображения. Во&nbsp;избежание недоразумений&nbsp;&mdash; черпайте полные описания в&nbsp;авторской книге.</p>
		<p>&laquo;Тренировка заключенных&raquo; (Convict Conditioning)&nbsp;&mdash; книга Пола Уэйда, посвященная методикам укрепления здоровья и&nbsp;естественному развитию мышечной силы. Программа предполагает использование исключительно собственного веса, в&nbsp;качестве &laquo;тренажеров&raquo;&nbsp;&mdash; минимальный набор окружающих предметов, самым редким из&nbsp;которых может оказаться разве что турник. &laquo;Тренировка заключенных&raquo; включает в&nbsp;себя набор гимнастических (калистенических) упражнений, собранных Полом Уэйдом из&nbsp;теории и&nbsp;практики атлетов &laquo;старой школы&raquo;: отжимания, приседания, подтягивания, подъемы ног, мосты, стойка на&nbsp;руках.</p>
		<p>Суть &laquo;Тренировки заключенных&raquo; проста: каждое из&nbsp;базовых упражнений разделено на&nbsp;десять этапов, каждый этап предлагает модифицированное (по&nbsp;отношению к&nbsp;базовому) упражнение, завершив которое, тренирующийся переходит от&nbsp;простого движения к&nbsp;более сложным.</p>
		<p>Два важнейших правила книги &laquo;Тренировка заключенных&raquo; (Convict Conditioning):</p>
		<ul>
			<li>Практически все упражнения выполняются в&nbsp;нарочито медленном темпе с&nbsp;паузами.</li>
			<li>Переход на&nbsp;следующий уровень возможен только после идеальной &laquo;шлифовки&raquo; техники упражнения.</li>
		</ul>
		<p>ИМХО, книга написана в&nbsp;&laquo;лучших&raquo; традициях Алена Карра&nbsp;&mdash; с&nbsp;долей бахвальства, уничижением роли современных методик, НЛП-повторениями и&nbsp;модными мотивирующими призывами. Тем не&nbsp;менее, рекомендую к&nbsp;тщательному прочтению, в&nbsp;особенности&nbsp;&mdash; главы с&nbsp;полным описанием тренировок.</p>
	</section>
</div>